<div class="flex justify-center mb-4">
  <h1 class="font-mono text-xl">#<%= @track.number %></h1>
</div>

<div class="mb-24">
  <% @recordings.each do |recording| %>
    <div class="flex items-center justify-center mb-4">
      <div>
        <div class="flex items-start gap-4 mb-2">
          <div class="flex flex-col items-center" data-controller="waveform" data-waveform-url-value="<%= url_for(recording.file) %>">
            <%= avatar(user: recording.user, size: "size-16") %>
            <div class="text-sm text-gray-500">
              <%= recording.created_at.strftime("%Y-%m-%d %H:%M") %>
            </div>

            <div data-waveform-target="container" class="flex h-120"></div>

            <audio controls class="hidden" data-waveform-target="audio">
              <%= tag.source src: url_for(recording.file), type: recording.file.content_type %>
            </audio>

            <% if recording.user == Current.user %>
              <%= button_to recording_path(recording), method: :delete,
                  data: { turbo_confirm: "???" },
                  class: "cursor-pointer text-red-600" do %>
                <%= icon("x-circle", size: "size-14") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= form_for [@recording.track, @recording], data: { controller: "audio-recorder" } do |f| %>
  <%= f.hidden_field :duration, data: { audio_recorder_target: "durationInput" } %>
  <%= f.file_field :file, hidden: true, direct_upload: true, accept: "audio/webm", data: { audio_recorder_target: "fileInput" } %>

  <div class="flex flex-col">
    <div class="flex justify-center gap-4">
      <%= content_tag :button, type: :button, data: { audio_recorder_target: "recordButton", action: "audio-recorder#startRecording" }, class: "cursor-pointer" do %>
        <%= icon("record-circle", size: "size-30", other: "text-red-600") %>
      <% end %>

      <%= content_tag :button, type: :button, data: { audio_recorder_target: "stopButton", action: "audio-recorder#stopRecording" }, class: "cursor-pointer" do %>
        <%= icon("stop-circle", size: "size-30") %>
      <% end %>
    </div>

    <div class="flex justify-center">
      <p data-audio-recorder-target="duration" class="text-sm text-gray-600"></p>
    </div>
  </div>
<% end %>
