<% if !user_logged_in? %>
  <div class="flex items-center justify-center">
    <%= mail_to "login@wordless.fyi" do %>
      <%= icon("arrow-right-circle", size: "size-30", other: "text-[#00FF88]") %>
    <% end %>
  </div>
<% end %>

<div class="flex flex-col items-center gap-4">
  <% Track.all.each do |track| %>
    <%= link_to [track], class: "flex items-center gap-4" do %>
      <%= avatar(user: track.user, size: "size-6") %>

      <div class="font-mono text-xl">
        <span class="text-neutral-400">#<span><span class="text-black"><%= track.number %></span>
      </div>
    <% end %>
  <% end %>
</div>
